//  ============================================================
//  Name:               Main
//  Description:        Create wrapper for the main content
//
//  Component:          `#{$prefix}-main-*`
//
//  ============================================================

//  ============================================================
//  Variables
//  ============================================================

$main-offset-left:                  250px !default;
$main-width:                        calc(100% - 300px) !default;
$main-padding-vertical:             gutter(medium) !default;
$main-padding-horizontal:           gutter(large) !default;

/* ============================================================
    Component: Main
   ============================================================ */

.#{$prefix}-main-wrapper {
    position: relative;
    left: $main-offset-left;

    width: $main-width;
    padding: $main-padding-vertical $main-padding-horizontal;
    box-sizing: border-box;
}

@include respond-to-max(medium) {
    .#{$prefix}-main-wrapper {
        left: auto;
        width: 100%;
        padding: gutter(small) gutter(xsmall);
    }
}
