//  ============================================================
//  Name:               Main
//  Description:        Create wrapper for the main content
//
//  Component:          `#{$prefix}-main-*`
//
//  ============================================================

//  ============================================================
//  Variables
//  ============================================================

$main-wrapper-min-height:               100px !default;
$main-wrapper-padding-vertical:         gutter(medium) !default;
$main-wrapper-padding-horizontal:       gutter(medium) !default;
$main-wrapper-background:               background-color(background) !default;

/* ============================================================
    Component: Main
   ============================================================ */

.#{$prefix}-main-wrapper {
    position: relative;

    min-height: $main-wrapper-min-height;
    width: 100%;
    padding: $main-wrapper-padding-vertical $main-wrapper-padding-horizontal;
    box-sizing: border-box;
    background-color: $main-wrapper-background;
}
