// ============================================================
// Name:            Position
// Description:     Utilities to position content
//
// Component:       `#{$prefix}-position-absolute`
//                  `#{$prefix}-position-relative`
//                  `#{$prefix}-position-z-index`
//                  `#{$prefix}-position-top`
//                  `#{$prefix}-position-bottom`
//                  `#{$prefix}-position-left`
//                  `#{$prefix}-position-right`
//                  `#{$prefix}-position-top-left`
//                  `#{$prefix}-position-top-center`
//                  `#{$prefix}-position-top-right`
//                  `#{$prefix}-position-bottom-left`
//                  `#{$prefix}-position-bottom-center`
//                  `#{$prefix}-position-bottom-right`
//                  `#{$prefix}-position-center`
//                  `#{$prefix}-position-center-left`
//                  `#{$prefix}-position-center-right`
//                  `#{$prefix}-position-cover`
//
// Modifiers:       `#{$prefix}-position-small`
//                  `#{$prefix}-position-medium`
//                  `#{$prefix}-position-large`
//
// ============================================================


// Variables
// ============================================================

$position-small-margin:                                 gutter(small) !default;
$position-medium-margin:                                gutter(medium) !default;
$position-large-margin:                                 gutter(small) !default;
$position-large-margin-l:                               50px !default;


/* ============================================================
   Component: Position
   ============================================================ */


/* Directions
   ============================================================ */

[class*='#{$prefix}-position-top'],
[class*='#{$prefix}-position-bottom'],
[class*='#{$prefix}-position-left'],
[class*='#{$prefix}-position-right'],
[class*='#{$prefix}-position-center'] {
    position: absolute !important;
}


/* Edges
   ============================================================ */

/* Don't use `width: 100%` because it is wrong if the parent has padding. */
.#{$prefix}-position-top {
    top: 0;
    left: 0;
    right: 0;
}

.#{$prefix}-position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.#{$prefix}-position-left {
    top: 0;
    bottom: 0;
    left: 0;
}

.#{$prefix}-position-right {
    top: 0;
    bottom: 0;
    right: 0;
}


/* Corners
   ============================================================ */

.#{$prefix}-position-top-left {
    top: 0;
    left: 0;
}

.#{$prefix}-position-top-right {
    top: 0;
    right: 0;
}

.#{$prefix}-position-bottom-left {
    bottom: 0;
    left: 0;
}

.#{$prefix}-position-bottom-right {
    bottom: 0;
    right: 0;
}

/*
 * Center
 * 1. Fix text wrapping if content is larger than 50% of the container
 *    (Not working in Firefox)
 * 2. Fix text wrapping for Firefox
 */

.#{$prefix}-position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 1 */
    display: table;

    /* 2 */
    max-width: 100%;
    box-sizing: border-box;
}

/* Vertical */
[class*='#{$prefix}-position-center-left'],
[class*='#{$prefix}-position-center-right'] {
    top: 50%;
    transform: translateY(-50%);
}

.#{$prefix}-position-center-left {
    left: 0;
}

.#{$prefix}-position-center-right {
    right: 0;
}

.#{$prefix}-position-center-left-out {
    right: 100%;
    width: max-content;
}

.#{$prefix}-position-center-right-out {
    left: 100%;
    width: max-content;
}

/* Horizontal */
.#{$prefix}-position-top-center,
.#{$prefix}-position-bottom-center {
    left: 50%;
    transform: translateX(-50%);

    /* 1 */
    display: table;

    /* 2 */
    max-width: 100%;
    box-sizing: border-box;
}

.#{$prefix}-position-top-center {
    top: 0;
}

.#{$prefix}-position-bottom-center {
    bottom: 0;
}


/* Cover
   ============================================================ */

.#{$prefix}-position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Utility
   ============================================================ */

.#{$prefix}-position-relative {
    position: relative !important;
}

.#{$prefix}-position-absolute {
    position: absolute !important;
}

.#{$prefix}-position-fixed {
    position: fixed !important;
}

.#{$prefix}-position-z-index {
    z-index: 1;
}


/* Margin modifier
   ============================================================ */

/*
 * Small
 */
.#{$prefix}-position-small {
    margin: $position-small-margin;
}

.#{$prefix}-position-small.#{$prefix}-position-center {
    transform: translate(-50%, -50%) translate(-$position-small-margin, (-$position-small-margin));
}

.#{$prefix}-position-small[class*='#{$prefix}-position-center-left'],
.#{$prefix}-position-small[class*='#{$prefix}-position-center-right'] {
    transform: translateY(-50%) translateY(-$position-small-margin);
}

.#{$prefix}-position-small.#{$prefix}-position-top-center,
.#{$prefix}-position-small.#{$prefix}-position-bottom-center {
    transform: translateX(-50%) translateX(-$position-small-margin);
}

/*
 * Medium
 */

.#{$prefix}-position-medium {
    margin: $position-medium-margin;
}

.#{$prefix}-position-medium.#{$prefix}-position-center {
    transform: translate(-50%, -50%) translate(-$position-medium-margin, (-$position-medium-margin));
}

.#{$prefix}-position-medium[class*='#{$prefix}-position-center-left'],
.#{$prefix}-position-medium[class*='#{$prefix}-position-center-right'] {
    transform: translateY(-50%) translateY(-$position-medium-margin);
}

.#{$prefix}-position-medium.#{$prefix}-position-top-center,
.#{$prefix}-position-medium.#{$prefix}-position-bottom-center {
    transform: translateX(-50%) translateX(-$position-medium-margin);
}

/*
 * Large
 */

.#{$prefix}-position-large {
    margin: $position-large-margin;
}

.#{$prefix}-position-large.#{$prefix}-position-center {
    transform: translate(-50%, -50%) translate(-$position-large-margin, (-$position-large-margin));
}

.#{$prefix}-position-large[class*='#{$prefix}-position-center-left'],
.#{$prefix}-position-large[class*='#{$prefix}-position-center-right'] {
    transform: translateY(-50%) translateY(-$position-large-margin);
}

.#{$prefix}-position-large.#{$prefix}-position-top-center,
.#{$prefix}-position-large.#{$prefix}-position-bottom-center {
    transform: translateX(-50%) translateX(-$position-large-margin);
}

/* Desktop and bigger */
@include respond-to(large) {
    .#{$prefix}-position-large {
        margin: $position-large-margin-l;
    }

    .#{$prefix}-position-large.#{$prefix}-position-center {
        transform: translate(-50%, -50%) translate(-$position-large-margin-l, (-$position-large-margin-l));
    }

    .#{$prefix}-position-large[class*='#{$prefix}-position-center-left'],
    .#{$prefix}-position-large[class*='#{$prefix}-position-center-right'] {
        transform: translateY(-50%) translateY(-$position-large-margin-l);
    }

    .#{$prefix}-position-large.#{$prefix}-position-top-center,
    .#{$prefix}-position-large.#{$prefix}-position-bottom-center {
        transform: translateX(-50%) translateX(-$position-large-margin-l);
    }
}
