// ============================================================
// Name:            Visibility
// Description:     Utilities to show or hide content on breakpoints,
//                  hover or touch
//
// Component:       `#{$prefix}-hidden-*`
//                  `#{$prefix}-visible-*`
//                  `#{$prefix}-invisible`
//                  `#{$prefix}-visible-toggle`
//                  `#{$prefix}-hidden-hover`
//                  `#{$prefix}-invisible-hover`
//                  `#{$prefix}-hidden-touch`
//                  `#{$prefix}-hidden-notouch`
//
// ============================================================


// Variables
// ============================================================

/*
 * Hidden
 * `hidden` attribute also set here to make it stronger
 */

[hidden],
.#{$prefix}-hidden {
    display: none !important;
}

/* Phone landscape and bigger */
@include respond-to(small) {
    .#{$prefix}-hidden\@s {
        display: none !important;
    }
}

/* Tablet landscape and bigger */
@include respond-to(medium) {
    .#{$prefix}-hidden\@m {
        display: none !important;
    }
}

/* Desktop and bigger */
@include respond-to(large) {
    .#{$prefix}-hidden\@l {
        display: none !important;
    }
}

/* Large screen and bigger */
@include respond-to(xlarge) {
    .#{$prefix}-hidden\@xl {
        display: none !important;
    }
}


/*
* Visible
*/

/* Phone portrait and smaller */
@include respond-to-max(xsmall) {
    .#{$prefix}-visible\@s {
        display: none !important;
    }
}

/* Phone landscape and smaller */
@include respond-to-max(small) {
    .#{$prefix}-visible\@m {
        display: none !important;
    }
}

/* Tablet landscape and smaller */
@include respond-to-max(medium) {
    .#{$prefix}-visible\@l {
        display: none !important;
    }
}

/* Desktop and smaller */
@include respond-to-max(large) {
    .#{$prefix}-visible\@xl {
        display: none !important;
    }
}



/* Visibility
   ============================================================ */

.#{$prefix}-invisible {
    visibility: hidden !important;
}



/* Hover
   ============================================================ */

/*
 * Hidden
 * Can't use `display: hidden` because it's not focusable. This is accessible
 *through keyboard.
 */

.#{$prefix}-visible-toggle:not(:hover):not(.#{$prefix}-hover) .#{$prefix}-hidden-hover:not(:focus) {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

/*
 * Invisible
 * Can't use `visibility: hidden` because it's not focusable. This is accessible
 * through keyboard.
 */

.#{$prefix}-visible-toggle:not(:hover):not(.#{$prefix}-hover) .#{$prefix}-invisible-hover:not(:focus) {
    opacity: 0 !important;
}


/* Touch
   ============================================================ */

/*
 * Hide if primary pointing device has limited accuracy, e.g. a touch screen.
 * Works on mobile browsers: Safari, Chrome and Android browser
 */

@media (pointer: coarse) {
    .#{$prefix}-hidden-touch {
        display: none !important;
    }
}

/*
 * Hide if primary pointing device is accurate, e.g. mouse.
 * 1. Fallback for IE11 and Firefox, because `pointer` is not supported
 * 2. Reset if supported
 */

/* 1 */
.#{$prefix}-hidden-notouch {
    display: none !important;
}

@media (pointer: coarse) {
    .#{$prefix}-hidden-notouch {
        display: block !important;
    }
}
