// ============================================================
// Name:            Divider
// Description:     Create a block element as division of section
//
// Component:       `#{$prefix}-divider`
//
// Modifiers:       `#{$prefix}-divider-large`
//
// ============================================================


// Variables
// ============================================================

$divider-background:                        #F7F7F7 !default;
$divider-padding-horizontal:                margin(small) !default;
$divider-padding-vertical:                  margin(xsmall) !default;

$divider-color:                             color(emphasis) !default;
$divider-font-size:                         font-size(small) !default;

$divider-margin:                            margin(global) !default;


/* ============================================================
    Component: Divider
   ============================================================ */

.#{$prefix}-divider {
    display: block;
    box-sizing: border-box;

    background-color: $divider-background;
    padding: $divider-padding-vertical $divider-padding-horizontal;

    font-size: $divider-font-size;
    color: $divider-color;
}

* + .#{$prefix}-divider {
    margin-top: $divider-margin;
}


/* Modifier
   ============================================================ */

.#{$prefix}-hr-dashed {
    border-style: dashed;
}

.#{$prefix}-hr-dotted {
    border-style: dotted;
}
