.#{$prefix}-md-16 {
    font-size: 16px;
}

.#{$prefix}-md-18 {
    font-size: 18px;
}

.#{$prefix}-md-24 {
    font-size: 24px;
}

.#{$prefix}-md-30 {
    font-size: 30px;
}

.#{$prefix}-md-48 {
    font-size: 48px;
}
