// ============================================================
// Name:            Link
// Description:     Styles for links
//
// Component:       `#{$prefix}-link-muted`
//                  `#{$prefix}-link-primary
//                  `#{$prefix}-link-success`
//                  `#{$prefix}-link-warning`
//                  `#{$prefix}-link-danger`
//                  `#{$prefix}-link-text`
//                  `#{$prefix}-link-heading`
//                  `#{$prefix}-link-reset`
//
// ============================================================

// Variables
// ============================================================

$link-muted-color:                      color(muted) !default;
$link-muted-hover-color:                color(default) !default;

$link-text-hover-color:                 color(muted) !default;

$link-heading-hover-color:              color(primary) !default;
$link-heading-hover-text-decoration:    none !default;

$link-default-color:                    lighten(color(default), 5%) !default;
$link-default-hover-color:              darken(color(default), 10%) !default;

$link-emphasis-color:                   lighten(color(emphasis), 5%) !default;
$link-emphasis-hover-color:             darken(color(emphasis), 10%) !default;

$link-primary-color:                    lighten(color(primary), 5%) !default;
$link-primary-hover-color:              darken(color(primary), 10%) !default;

$link-inverse-color:                    transparentize(color(inverse), 0.4) !default;
$link-inverse-hover-color:              color(inverse) !default;

$link-success-color:                    lighten(color(success), 5%) !default;
$link-success-hover-color:              darken(color(success), 10%) !default;

$link-warning-color:                    lighten(color(warning), 5%) !default;
$link-warning-hover-color:              darken(color(warning), 10%) !default;

$link-danger-color:                     lighten(color(danger), 5%) !default;
$link-danger-hover-color:               darken(color(danger), 10%) !default;

$link-inverse-color:                    color(inverse) !default;
$link-inverse-hover-color:              transparentize(color(inverse), 0.5) !default;



/* ============================================================
    Component: Link
   ============================================================ */

/* Muted
   ============================================================ */

a.#{$prefix}-link-muted,
.#{$prefix}-link-muted a {
    color: $link-muted-color;
}

a.#{$prefix}-link-muted:hover,
.#{$prefix}-link-muted a:hover {
    color: $link-muted-hover-color;
}


/* Default
   ============================================================ */

a.#{$prefix}-link-default,
.#{$prefix}-link-default a {
    color: $link-default-color;
}

a.#{$prefix}-link-default:hover,
.#{$prefix}-link-default a:hover {
    color: $link-default-hover-color;
}



/* Emphasis
   ============================================================ */

a.#{$prefix}-link-emphasis,
.#{$prefix}-link-emphasis a {
    color: $link-emphasis-color;
}

a.#{$prefix}-link-emphasis:hover,
.#{$prefix}-link-emphasis a:hover {
    color: $link-emphasis-hover-color;
}



/* Primary
   ============================================================ */

a.#{$prefix}-link-primary,
.#{$prefix}-link-primary a {
    color: $link-primary-color;
}

a.#{$prefix}-link-primary:hover,
.#{$prefix}-link-primary a:hover {
    color: $link-primary-color;
}



/* Success
   ============================================================ */

a.#{$prefix}-link-success,
.#{$prefix}-link-success a {
    color: $link-success-color;
}

a.#{$prefix}-link-success:hover,
.#{$prefix}-link-success a:hover {
    color: $link-success-hover-color;
}



/* Warning
   ============================================================ */

a.#{$prefix}-link-warning,
.#{$prefix}-link-warning a {
    color: $link-warning-color;
}

a.#{$prefix}-link-warning:hover,
.#{$prefix}-link-warning a:hover {
    color: $link-warning-hover-color;
}



/* Danger
   ============================================================ */

a.#{$prefix}-link-danger,
.#{$prefix}-link-danger a {
    color: $link-danger-color;
    text-decoration: none;
}

a.#{$prefix}-link-danger:hover,
.#{$prefix}-link-danger a:hover {
    color: $link-danger-hover-color;
    text-decoration: none;
}



/* Inverse
   ============================================================ */

a.#{$prefix}-link-inverse,
.#{$prefix}-link-inverse a {
    color: $link-inverse-color;
    text-decoration: none;
}

a.#{$prefix}-link-inverse:hover,
.#{$prefix}-link-inverse a:hover {
    color: $link-inverse-hover-color;
    text-decoration: none;
}



/* Text
   ============================================================ */

a.#{$prefix}-link-text:not(:hover),
.#{$prefix}-link-text a:not(:hover) {
    color: inherit;
}

a.#{$prefix}-link-text:hover,
.#{$prefix}-link-text a:hover {
    color: $link-text-hover-color;
}



/* Heading
   ============================================================ */

a.#{$prefix}-link-heading:not(:hover),
.#{$prefix}-link-heading a:not(:hover) {
    color: inherit;
}

a.#{$prefix}-link-heading:hover,
.#{$prefix}-link-heading a:hover {
    color: $link-heading-hover-color;
}



/* Reset
   ============================================================ */

/*
 * `!important` needed to override inverse component
 */

a.#{$prefix}-link-reset,
a.#{$prefix}-link-reset:hover,
.#{$prefix}-link-reset a,
.#{$prefix}-link-reset a:hover {
    color: inherit !important;
    text-decoration: none !important;
    line-height: 0px;
}



/* Toggle
   ============================================================ */

.#{$prefix}-link-toggle {
    color: inherit !important;
    text-decoration: none !important;
}

.#{$prefix}-link-toggle:focus {
    outline: none;
}
